@using System.Text.Json
@using Root.Application.DTOs.UserDtos

<nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
    <a href="" class="navbar-brand p-0">
        <h1 class="text-primary m-0">
            <i class="fa fa-map-marker-alt me-3"></i>
            <span>R&R</span>
        </h1>
        <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <NavLink href="/#" class="nav-item nav-link">Home</NavLink>
            @if (ShowMenuSobre)
            {
                <NavLink href="/about" class="nav-item nav-link" hidden="@ShowMenuSobre">Sobre</NavLink>
            }
            @if (ShowMenuServicos)
            {
                <NavLink href="#services" class="nav-item nav-link">Serviços</NavLink>
            }
            @if (ShowMenuPacotes)
            {
                <NavLink href="/packages" class="nav-item nav-link">Pacotes</NavLink>
            }
            @if (ShowMenuContactos)
            {
                <NavLink href="#contacts" class="nav-item nav-link">Contactos</NavLink>
            }
        </div>
        @if (IsLoggedIn)
        {
            <div class="d-flex gap-3">
                <a href="login" class="d-flex  text-lg-center justify-content-center align-items-center rounded-pill">
                    <i style="font-size: 30px" class="bi bi-person-circle"></i>
                </a>
                @if (IsClient)
                {
                    <a @onclick='() => { JS.InvokeVoidAsync("openModal", "cartModal"); }' class="d-flex  text-lg-center justify-content-center align-items-center rounded-pill">
                        <i class="bi bi-cart-fill" style="font-size: 30px"></i>
                    </a>
                }
            </div>
        }
        else
        {
            <a href="login" class="btn btn-primary rounded-pill py-2 px-4">
                <span>Entrar</span>
            </a>
        }
    </div>
</nav>

@if (ClientId != Guid.Empty && IsClient)
{
    <CartModal ClientId="ClientId"></CartModal>
}

@code
{
    [Parameter] public bool IsLoggedIn { get; set; }
    [Parameter] public bool IsClient { get; set; } = false;
    [Parameter] public string PageType { get; set; } = "";
    public Guid ClientId { get; set; }

    public bool ShowMenuSobre => PageType == "package" || PageType == "about" ? false : true;

    public bool ShowMenuPacotes => PageType == "package" || PageType == "about" ? false : true;

    public bool ShowMenuServicos => PageType == "package" || PageType == "about" ? false : true;

    public bool ShowMenuContactos => PageType == "package" || PageType == "about" ? false : true;

    protected override async Task OnInitializedAsync()
    {
        var currentUser = await LocalStorage.GetItemAsync("currentUser");
        if (currentUser is null)
        {
            return;
        }

        var CurrentUser = JsonSerializer.Deserialize<LoginListUserDto>(currentUser) ?? new LoginListUserDto();

        ClientId = CurrentUser.UserTypeId;
        Console.WriteLine("ID passado => " + CurrentUser.UserTypeId);

        if (IsClient)
        {
            if (!(await carts.CartExists(ClientId)))
                carts.RegisterCart(ClientId);
        }
        StateHasChanged();
    }
}