@page "/signin"
@using Root.Application.DTOs.UserDtos
@using Root.Domain.Enums

<div class="container-fluid register-container d-flex align-items-center">
    <div class="row w-100 flex-lg-row-reverse">
        <div class="col-lg-6 d-none d-lg-block register-img"></div>

        <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="form-section">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input required @oninput='() => { erro = ""; }' type="text" @bind="User.UserName" id="nome" class="form-control" placeholder="Seu nome completo"/>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input required @oninput='() => { erro = ""; }' type="email" @bind="User.Email" id="email" class="form-control" placeholder="seu@email.com"/>
                </div>
                <div class="mb-3">
                    <label for="contacto" class="form-label">Contacto</label>
                    <input required @oninput='() => { erro = ""; }' type="number" @bind="User.Contact" id="contacto" class="form-control" placeholder="Ex.: 999 999 999"/>
                </div>
                <div class="d-flex gap-2">
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha</label>
                        <input required @oninput='() => { erro = ""; }' type="password" @bind="User.Password" id="senha" class="form-control" placeholder="Crie uma senha"/>
                    </div>
                    <div class="mb-3">
                        <label for="confirmarSenha" class="form-label">Confirmar Senha</label>
                        <input required @oninput='() => { erro = ""; }' type="password" @bind="confirmPassword" id="confirmarSenha" class="form-control" placeholder="Confirme a senha"/>
                    </div>
                </div>
                <button class="btn btn-success w-100" @onclick="CreateNewUser">Cadastrar</button>
                <small>
                    <span class="text-danger">@erro</span>
                </small>
                <div class="text-center mt-3">
                    <small>Já tem conta? <a href="login">Entrar</a></small>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public CreateUserDto User { get; set; } = new();
    string erro { get; set; } = "";
    string confirmPassword = "";

    protected override async Task OnInitializedAsync()
    {
        var currentUser = await LocalStorage.GetItemAsync("currentUser");
        if (currentUser is not null)
        {
            Navigator.NavigateTo("/dashboard");
            return;
        }
    }

    public async void CreateNewUser()
    {
        if (string.IsNullOrEmpty(User.UserName)
            || string.IsNullOrEmpty(User.Contact)
            || string.IsNullOrEmpty(User.Email)
            || string.IsNullOrEmpty(User.Password))
        {
            erro = "Por favor, preencha todos os campos!!";
            Console.WriteLine(User.UserName);
            Console.WriteLine(User.Contact);
            Console.WriteLine(User.Password);
            Console.WriteLine(User.Email);
            return;
        }

        if (User.Password != confirmPassword)
        {
            erro = "As palavra passe de confirmação é diferente!";
            return;
        }

        User.Type = UserType.Client;    
        var result = await users.NewUserAsync(User);

        if (!result)
        {
            erro = "Ocorreu um erro ao tentar criar Conta!Por favor tente mais tarde!";
            return;
        }
        
        Navigator.NavigateTo("/login");
    }

}