<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Sobre Nós</h6>
                <h3 class="mb-4">Bemvindo(a) à <span class="text-primary">Raizes & Rotas</span></h3>
                <p class="mb-4">
                    Na Raízes & Rotas, criamos experiências de viagem autênticas e personalizadas, conectando você à cultura, natureza e história de cada destino. Mais do que turismo, oferecemos vivências inesquecíveis, com roteiros feitos sob medida para quem valoriza explorar com alma e consciência.
                </p>
                <p class="mb-4">Descubra. Conecte-se. Viva cada rota com propósito.</p>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Explorar</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->